Source: linuxmuster-vboxhost-base
Section: unknown
Priority: extra
Maintainer: Frank Schiebel <frank@linuxmuster.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/linuxmuster-vboxhost-base.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/linuxmuster-vboxhost-base.git;a=summary

Package: linuxmuster-vboxhost-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Meta package to install a virtualbox environment for running linuxmuster.net
